<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?>
<?xml-stylesheet type="text/xsl" href="teibp.xsl"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Hopkins' Spring and Fall: a machine-readable transcription</title>
            <respStmt>
               <resp>encoded by</resp>
               <name>Aythdrsgs</name>
            </respStmt>
         </titleStmt>
         <publicationStmt>
            <publisher>H. Milford</publisher>
            <pubPlace>London</pubPlace>
            <date when="1918"/>
         </publicationStmt>
         <sourceDesc>
            <bibl>
               <title level="a">Spring and Fall</title>
               <author>Gerard Manley Hopkins</author>
               <title>Poems of Gerard Manley Hopkins</title>
               <editor>Robert Bridges</editor>
            </bibl>
         </sourceDesc>
         <!--Where do I (and how should I) include information about the Internet (HathiTrust) source here?-->
      </fileDesc>
  </teiHeader>
  <text>
      <body>
         <pb n="51"/>
         <head type="poem_number" rendition="#center">31</head> <!--Is this the right way to do this?-->
         <head type="poem_title" rendition="#center">Spring and Fall:</head>
         <head type="poem_subtitle" rendition="#center">to a young child</head>
         <lg type="poem">
            <l n="1">M<hi rendition="#small-caps">ÁRGARÉT</hi>, áre you gríeving</l>
            <l n="2">Over Goldengrove unleaving?</l>
            <l n="3">Leáves, líke the things of man, you</l>
            <l n="4">With you fresh thoughts care for, can you?</l>
            <l n="5">Áh! ás the heart grows older</l>
            <l n="6">It will come to such sights colder</l>
            <l n="7">By and by, nor spare a sigh</l>
            <l n="8">Though worlds of wanwood leafmeal lie;</l>
            <l n="9">And yet you wíll weep and know why.</l>
            <l n="10">Now no matter, child, the name:</l>
            <l n="11">Sórrow's spríngs áre the same.</l>
            <l n="12">Nor mouth had, no nor mind, expressed</l>
            <l n="13">What heart heard of, ghost guessed:</l>
            <l n="14">It ís the blight man was born for,</l>
            <l n="15">It is Margaret you mourn for.</l>
         </lg>
      </body>
  </text>
</TEI>
